<ul class='routine-exercises'>
  <% if routine.present? %>
    <% routine.exercises.each do |exercise| %>
      <li class='rouitne-exercise'><%= exercise.name %></li>
    <% end %>
  <% end %>
</ul>




