$('.workout-session-setting-form input[type=text]').focusout(function(){
  $('.session-setting-execution-form').submit();
});

// $("<p class='session-saved'> Saved. </p>").hide().appendTo('.workout-session-execution-data').fadeIn("fast", function(){
//   $(this).delay(1000).fadeOut("slow");
// });
// autoSaveSessionForm();
