<section class="upcoming-container set-parent-height" id="upcoming-session">
  <ul class="card-sessions-container">
    <% @card_sessions.each do |session| %>
      <li class='card-session'>
        <% if session.done? %>
          <%= session.session_tag %>
        <% else %>

        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<section class="previous-sessions set-parent-height" id="previous-session">

</section>

