<section class="upcoming-container set-parent-height" id="upcoming-session">
  <ul class="card-sessions-container">
    <% @card_sessions.each do |session| %>
      <li class='card-session'>
        <h4 class='session_tag'><%= link_to session.session_tag, workout_session_url %></h4>
        <% if session.done? %>
          <p class="card-session-coach"><%= session.coach %></p>
          <p class="card-session-date"><%= session.date %></p>
        <% else %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<section class="previous-sessions set-parent-height" id="previous-session">

</section>

