<!-- <section class='hide current-sessions'>
  <ul>
    <%# current_sessions.each do |session| %>
      <li>
        <%#= link_to "#{session.client.name} (#{session.routine.description})", workout_session_url(session.id) %>
        <span><%#= pluralize(session.exercise_executions.count, "exercise") %> completed</span>
      </li>
    <%# end %>
  </ul>
</section> -->

<%# if current_sessions.count > 0 %>
  <!-- <span class='current-sessions-count absolute'><%#= pluralize(current_sessions.count, "current session") %><span class='fa fa-chevron-down arrow'></span></span> -->
<%# end %>

<div class='client-index-page'>
  <div class='client-search-bar'>
    <%= form_tag clients_url, method: 'get', remote: true do %>
      <%= text_field_tag :search, nil, placeholder: "Search for one of your #{@clients.count} clients...", class: 'search-input' -%>
      <span class='add-client-container'><%= link_to "<i class=\"fa fa-plus-square-o\"></i> Add a client".html_safe, new_client_url, class: 'client-add-link' %></span>
    <% end %>
  </div>
  <% if @clients.present? %>
    <section class='client-list'>
      <%= render 'client_search_results', clients: @clients %>
    </section>
  <% end %>
</div>
