<div class="client-container">
  <p id="notice"><%= notice %></p>
  <h1 class='client-name'><%= @client.name %></h1>
  <p class='client-email'><%= @client.email %></p>

  <ul class='client-workout-sessions'>
    <h2>Sessions</h2>

    <% @client.sessions.each do |session| %>
      <li><%= link_to session.name, workout_session_url(session.id) %></li>
    <% end %>
  </ul>
  <% if @client.sessions.present? %>
    <%#= content_tag :div, "", id: "line_example", data: {exercises: session_graph_data(@client)} %>
    <div id="line-example"></div>
  <% end %>
</div>
