@import 'variables';

input[type=submit] {
  -webkit-appearance: none;
}

a {
  color: $blue;
  font-size: 14px;
}

.input-field-tool-tips {
  font-size: 14px;
  color: $orange;
}

%group:after {
    display: table;
    clear: both;
    content: '';
}

%header-text-style {
  font-size: $head-text-size;
  font-weight: bold;
}

%container {
  width: 1030px;
  margin: 0 auto;
  height: 100%;
  font-family: $main-font;
}

%form {
  max-width: 60%;
  margin: 0 auto;
  font-family: $main-font;
  margin-top: 15%;
  text-align: center;
}

%inputs {
  border-bottom: solid 1px black;
  outline-width: 0;
  border-radius: 0;
  font-size: $text-input-size;
  width: 60%;
  margin: 10px 10px 10px 0px;
}

%labels {
  display: none;
}

%buttons {
  background-color: $orange;
  outline-width: 0;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 1%;

  &:hover {
    background-color: lighten($orange, 5%);
  }
}

