input[type=submit] {
  -webkit-appearance: none;
}

a {
  color: $blue;
  font-size: 14px;
}

.input-field-tool-tips {
  font-size: 14px;
  color: $orange;
}

%group:after {
    display: table;
    clear: both;
    content: '';
}

%header-text-styles {
  font-size: $head-text-size;
  font-weight: bold;
  margin-bottom: 25px;
}

%containers {
  width: 1030px;
  margin: 0 auto;
  height: 100%;
  font-family: $main-font;
}

%forms {
  max-width: 60%;
  margin: 0 auto;
  font-family: $main-font;
  margin-top: 15%;
  text-align: center;
  // background-color: lighten($grey, 80%);
  // padding: 25px;
  // border-radius: 10px;
}

%inputs {
  border-bottom: solid 1px black;
  outline-width: 0;
  border-radius: 0;
  font-size: $text-input-size;
  width: 60%;
  margin: 10px 10px 10px 0px;
  // padding: 10px;
  // border-radius: 5px;
}

%labels {
  display: none;
}

%buttons {
  background-color: $orange;
  outline-width: 0;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 1%;

  &:hover {
    background-color: lighten($orange, 5%);
  }
}

%checkboxes {
  display: none;

  &:checked + label {
    background-color: $orange;
    border: 1px solid white;
    color: white;
  }
}

%checkbox-labels {
  margin: 10%;
  outline-width: 0;
  text-align: center;
  // display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  font-size: $h3;
  padding: 10px;
  width: 30%;
  float: left;
  margin-top: 10px;
}

