input[type=submit] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: $concrete;
}

@-webkit-keyframes greenPulse {
  from { background-color: $belize_hole; -webkit-box-shadow: 0 0 9px #ccc; }
  50% { background-color: lighten($belize_hole, 10%); -webkit-box-shadow: 0 0 18px lighten($belize_hole, 5%); }
  to { background-color: $belize_hole; -webkit-box-shadow: 0 0 9px #ccc; }
}

body {
  font-family: 'Roboto' sans-serif;
  color: $midnight_blue;
  background-color: #f3ece0;
}

a {
  color: $belize_hole;
  font-size: 18px;

  &:hover {
    color: $peter_river;
  }

  &:active {
    color: $belize_hole;
  }
}

.site-brand {
  padding-top: 5%;
  margin-bottom: 15px;
  text-align: center;
  font-size: 50px;
  color: $midnight_blue;
}

.highlight {
    color: $green_sea;
}

.input-field-tooltip {
  font-size: 14px;
  color: $alizarin;
  text-align: left;
  margin-left: 20%;
}

// .input-error {
//   padding: 8px !important;
//   background-color: white !important;
//   border: 2px solid $alizarin !important;
// }

// .input-field-error-message {
//   font-size: 16px;
//   text-align: left;
//   margin-left: 20%;
//   color: $alizarin;
// }

%group:after {
    display: table;
    clear: both;
    content: '';
}

%header-text-styles {
  margin-bottom: 20px;
  font-size: $main-font-size;
  color: $midnight_blue;
}

%containers {
  width: 750px;
  margin: 0 auto;
  height: 100%;
  font-family: $main-font;
}

%forms {
  margin: 0 auto;
  font-family: $main-font;
  text-align: center;
}

%inputs {
  font-family: $main-font;
  width: 60%;
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid $silver;
  font-size: $text-input-size;
  color: $midnight_blue;
}

%labels {
  display: none;
}

%buttons {
  width: 45%;
  margin-top: 25px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  background-color: $green_sea;
  font-size: $main-font-size;
  color: white;
  border: 1px solid darken($green_sea, 15%);
  border-bottom-width: 3px;

  &:hover {
    background-color: $turquoise;
  }

  &:active {
    background-color: $green_sea;
    border: none;
  }
}

%checkboxes {
  display: none;

  &:checked + label {
    background-color: $wet_asphalt;
    border: 1px solid white;
    color: white;
  }
}

%checkbox-labels {
  margin: 10%;
  outline-width: 0;
  text-align: center;
  // display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  font-size: $h3;
  padding: 10px;
  width: 30%;
  float: left;
  margin-top: 10px;
}

