// Body
$height: 710px/9.5;

// Text
$main-font: 'Duru Sans';
$head-text-size: 30px;
$text-input-size: 24px;
$h1: 35px;
$h2: 25px;
$h3: 20px;

// Color
$orange: #f26d1c;
$green: lighten(#5da423, 0%);
$red: lighten(#c60f13, 0%);;
$grey: lighten(#222222, 0%);

