// Body
$height: 710px/9.5;

// Text
$main-font: 'Roboto', sans-serif;
$form_submit_type_size: 32px;
$button_link_type_size: 24px;
$main-font-size: 32px;
$text-input-size: 24px;
$h1: 35px;
$h2: 25px;
$h3: 20px;

// Color
$green: #278e60;
$red: #c60f13;
$grey: #222222;
$blue: #3498db;
$dark_gray: #1a1a1a;
$light_blue: #7AC5CD;
$logo: #278e60;

// Color Variables
// green
$emerald: #2ecc71;
$nephritis: #27ae60;
// dark green
$turquoise: #1abc9c;
$green_sea: #16a085;
// blue
$peter_river: #3498db;
$belize_hole: #2980b9;
// dark blue
$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;
// purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;
// yellow
$sunflower: #f1c40f;
// red
$alizarin: #e74c3c;
$pomegranate: #c0392b;
//orange
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
// light gray
$clouds: #ecf0f1;
$silver: #bdc3c7;
// dark gray
$concrete: #95a5a6;
$asbestos: #7f8c8d;

//basecamp
$basecamp_gray: #7d7a75;


