// Body
$height: 710px/9.5;

// Text
$main-font: 'Roboto', sans-serif;
$head-text-size: 30px;
$text-input-size: 24px;
$h1: 35px;
$h2: 25px;
$h3: 20px;

// Color
$orange: #e74c3c;
$green: #278e60;
$red: #c60f13;
$grey: #222222;
$blue: #3498db;
$dark_gray: #1a1a1a;
$light_blue: #7AC5CD;
$logo: #278e60;


