// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Client Index Page
.current-sessions {
  padding-top: 10px;
  padding-left: 20px;
  li {
    padding: 10px 0;
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.current-sessions-count {
  color: $alizarin;
  text-decoration: underline;
  font-size: 20px;
  line-height: 3;
  margin-left: 20px;
  .arrow {
    margin-left: 10px;
  }
}

.client-index-page {

  @extend %containers;
  padding: 50px 0;
  width: 90%;

  .client-search-bar {
    text-align: center;

    .search-input {
      @include inputs(68%);
      margin-top: 2%;
    }

    .add-client-container {
      display: block;
      margin-top: 20px;
      text-align: left;
      width: 70%;
      padding: 15px;
      margin: 0 auto;
      margin-top: 30px;
      a {
        @include buttons($green_sea, $turquoise, $button_link_type_size);

        i {
          text-decoration: none;
        }
      }
    }
  }
  .client-list {
    width: 70%;
    margin: 0 auto;
    // padding-top: 20px;

    .ul-client-list {
      .search-results-stats {
        text-align: center;
        color: $asbestos;
      }
      .client-wrapper {
        border-bottom: 1px solid $silver;
        padding: 15px;
        // padding-bottom: 0;
        .client-buttons {
          display: block;
          padding: 20px;
          padding-left: 0;
          .client-start-workout, .client-strength-account {
            margin-right: 20px;
          }
          a {
            i {
              text-decoration: underline;
            }
          }
        }
      .client {
        font-size: 22px;
        text-align: left;
        padding: 15px 0;
        .client_name {
           color: $midnight_blue;
           font-size: 24px;
           // font-weight: bold;
           // text-decoration: none;
           &:hover {
            color: $wet_asphalt;
           }
           &:active {
            color: $wet_asphalt;
           }
        }
        .down-icon {
          float: right;
          padding: 5px 10px;
          color: $clouds;
          text-decoration: none;
          border-radius: 5px;
          font-size: 14px;
        }

        .next-session {
          background-color: $green_sea;
          border: 1px solid darken($green_sea, 10%);
          border-bottom-width: 3px;

          &:hover {
            background-color: $turquoise;
          }

          &:active {
            background-color: $green_sea;
            border: none;
          }
        }

        .new-card {
          background-color: $pomegranate;
          border: 1px solid darken($pomegranate, 10%);
          border-bottom-width: 3px;

          &:hover {
            background-color: $alizarin;
          }

          &:active {
            background-color: $pomegranate;
            border: none;
          }
        }

          .client-start-workout {
            margin-right: 5px;
          }

          .client-manage-account {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

//Cllient Show
.client-container {
  padding-top: 50px;
  @extend %containers;
  width: 650px;
  width: 90%;
  .name-wrap {
    .client-name-show {
      font-size: $h1;
      display: inline-block;

    }
    .create-workout {
      display: inline-block;
      float: right;
      margin-top: 15px;
      a {
        color: $green_sea;
        i {
          text-decoration: underline;
        }
      }
    }
    .goal-parent {
      color: $midnight_blue;
      font-size: $h3;
      display: block;
      font-weight: bold;


      .current-goal {
        color: $alizarin;
        font-weight: none;
      }
    }
    .img-container {
      display: inline-block;
      width: 15%;
      vertical-align: middle;
    }
    header {
      display: inline-block;
      padding: 0 20px;
      width: 83%;
      vertical-align: middle;
      .client-show-links {
        .client-show-manage {
          margin-left: 15px;
        }
        p {
          margin-top: 5px;
          display: inline-block;
          i {
            text-decoration: underline;
          }
        }
      }
    }
    img {
      border: 1px solid $clouds;
      box-shadow: 2px 2px $silver;
    }
  }
  .tab-links {
    margin-top: 50px;
    li {
      display: inline-block;
      position: relative;


      a {
        text-decoration: none;
        padding: 20px;
        top: 1px;
        color: $basecamp_gray;
        text-shadow: 0 0 2px $clouds;

        &.active {
          border: 1px solid #ccc;
          border-bottom: 1px solid white;
          background-color: white;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          color: $midnight_blue;
          text-shadow: none;
        }
      }
    }
  }

  .schedule-tab-container, .client-note-container, .client-stats-show, .graph-tab-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    // min-height: 400px;
    // max-height: 500px;
  }

  .schedule-tab-container {
      border-top-left-radius: 0px;
    h2 {
      font-weight: bold;
      color: $green_sea;
      margin: 15px 0px;
    }

    .upcoming-container {
      position: relative;
      // border-bottom: 1px solid $clouds;
      header {
        h5 {
          color: $silver;
          display: inline-block;
          font-family: "ProximaNova", sans-serif;
          font-weight: lighter;
          letter-spacing: 0.075em;
          font-size: 18px;
          margin-left: 2%;
          span {
            color: black;
          }
        }
      }
      .new-card-container {
        text-align: left;
        vertical-align: top;
        margin-top: 25px;
        margin-left: 2%;

        a {
          @include buttons($pomegranate, $alizarin, $button_link_type_size);
        }
      }
      .card-sessions-container {
        // background-color: white;
        // border-radius: 10px;
        padding: 5px;
        text-align: center;

        .card-session {
          text-align: center;
          width: 23%;
          height: 150px;
          margin: 20px 5px;
          background-color: rgba(255, 255, 255, 0.6);
          display: inline-block;
          border-radius: 5px;
          vertical-align: top;

          &.done {
            background-color: rgba(44, 62, 80,.75);
            color: $silver;

            .card-session-link {
              height: 150px;
              display: block;
              padding: 0;
              margin: 0;
              text-decoration: none;
              color: $silver;
            }
          }

          &.next {
            -webkit-animation-name: nextSessionPulse;
            -webkit-animation-duration: 3s;
            -webkit-animation-iteration-count: infinite;
            position: relative;

            .ribbon-wrapper {
              width: 85px;
              height: 88px;
              overflow: hidden;
              position: absolute;
              top: -3px;
              right: -3px;

              .ribbon {
                font: bold 11px Sans-Serif;
                color: $midnight_blue;
                text-align: center;
                text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
                -webkit-transform: rotate(45deg);
                -moz-transform:    rotate(45deg);
                -ms-transform:     rotate(45deg);
                -o-transform:      rotate(45deg);
                position: relative;
                padding: 7px 0;
                left: -5px;
                top: 15px;
                width: 120px;
                background-color: $clouds;
                background-image: -webkit-gradient(linear, left top, left bottom, from(dakren($clouds, 10%)), to($clouds));
                background-image: -webkit-linear-gradient(top, $clouds, darken($clouds, 10%));
                background-image:    -moz-linear-gradient(top, $clouds, darken($clouds, 10%));
                background-image:     -ms-linear-gradient(top, $clouds, darken($clouds, 10%));
                background-image:      -o-linear-gradient(top, $clouds, darken($clouds, 10%));
                color: #6a6340;
                -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
                -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
                box-shadow:         0px 0px 3px rgba(0,0,0,0.3);

                &:before, &:after {
                  content: "";
                  border-top:   3px solid $silver;
                  border-left:  3px solid transparent;
                  border-right: 3px solid transparent;
                  position:absolute;
                  bottom: -3px;
                }

                &:before {
                  left: 0;
                }

                &:after {
                  right: 0;
                }

              }
            }

          .card-session-link {
            height: 150px;
            display: block;
            padding: 0;
            margin: 0;
            text-decoration: none;
          }

            h4.session_tag {
              padding-top: 15%;
              color: white;
              font-size: 26px;
              text-decoration: none;
            }
          }

          &.not-done {
            background-color: white;
            box-shadow: 0 0 6px;
            color: lighten($silver, 5%);
            h4.session_tag {
              margin-top: 15%;
              font-size: 26px;
            }
          }

          .done-checkbox {
            color: $emerald;
            padding: 5px 0;
          }

          .this-is-next {
            font-weight: bold;
          }

          .info {

          }

          .session_tag {
            font-weight: bold;
            padding: 5px 0;
          }
        }
      }
    }

    .previous-sessions {
      position: relative;
    }

    .no-schedule-img-container {
      opacity: 0.8;

      img {
        width: 100%;
      }
    }

      .no-schedule-container {
        position: relative;

        .no-schedule-message {
          text-align: center;
          position: absolute;
          margin-top: 15%;
          width: 100%;
          border: 1px solid $clouds;
          background-color: white;
          z-index: 1;
          box-shadow: 3px 2px $silver;

          h3 {
            padding: 25px;
            text-align: center;
            font-style: italic;
            color: $asbestos;
            font-size: 18px;
            .create-new-card-container {
              margin-top: 40px;
              margin-bottom: 20px;
              display: inline-block;

              a {
                @include buttons($green_sea, $turquoise, $button_link_type_size);
                font-style: normal;
              }
            }
          }
        }
      }
    }

  .client-email {
    // margin-top: 5px;
    color: $asbestos;
  }
}

.graph-container {
  h2 {
    font-weight: bold;
  }

  .no-graph {
    text-align: center;
  }

  .no-graph-img-container {
    opacity: 0.6;
    .img {
    }
  }
  .no-graph-note-container {
    position: relative;
    .no-graph-message {
      position: absolute;
      margin-top: 25%;
      width: 100%;
      border: 1px solid $midnight_blue;
      background-color: rgba(255, 255, 255, 1);
      z-index: 1;

      h3 {
        // font-size: $h3;
        padding: 15px;
        text-align: center;
      }
    }
  }
}

.graph-partial {
  form {
    text-align: center;
  }

  p {
    display: inline-block;
    font-size: $h3;
  }

  select {
    color: $midnight_blue;
    background-color: white;
    cursor: default;
    display: inline-block;
    margin: 0 10px;
    font-size: $h3;
  }

  input[type=submit] {
    @include buttons($green_sea, $turquoise, $form_submit_type_size);
    width: 25%;
    margin-left: 15px;
  }
}

.client-note-container {
  // margin-top: 50px;
  form {
    text-align: center;

    input[type=text] {
      @include inputs;
      vertical-align: middle;
    }

    input[type=submit] {
      @include buttons($green_sea, $turquoise, $button_link_type_size);
      vertical-align: middle;
    }
  }

  ul {
    padding: 40px;
    margin-bottom: 50px;
    max-height: 300px;
    overflow-y: scroll;
    li {
      border-bottom: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 10px;
      span {
        float: right;
        font-size: 12px;
        color: #666;
      }
    }
  }
  .no-note-img-container {
    opacity: 0.75;
    img {
      width: 100%;
    }
  }
  .no-notes-note-container {
    position: relative;
    .no-note-message {
      text-align: center;
      position: absolute;
      margin-top: 15%;
      width: 100%;
      border: 1px solid $clouds;
      background-color: white;
      z-index: 1;
      box-shadow: 3px 2px $silver;
      h3 {
        padding: 25px;
        text-align: center;
        font-style: italic;
        color: $asbestos;
        font-size: 18px;

        .new-note {
          margin-top: 20px;
          margin-bottom: 20px;
          vertical-align: middle;
          font-style: normal;
        }
        .new-note-submit-button {
          @include buttons($green_sea, $turquoise, $button_link_type_size);
          vertical-align: middle;
          font-style: normal;
        }
      }
    }
  }
}

// New Client
.new-client-container {
  text-align: center;
  padding-top: 50px;
  h1 {
    font-size: $h1;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    span {
      &.ready {
        color: $green_sea;
      }
    }
  }
  .new-client-form {
    @extend %containers;

    input[type=text], input[type=submit], input[type=email], input[type=date] {
      @include inputs;
    }

    input[type=date] {
      -webkit-min-logical-width: 40%;
      width: 40%;
    }

    .birthday-label {
      font-size: 30px;
      vertical-align: middle;
    }

    input[type=radio] {
      @extend %checkboxes;
    }

    .gender-container {
      margin: 0 auto;
      margin: 20px 5px;
      span {
        font-size: 16px;
        font-weight: bold;
      }

      .client-gender {
        @extend %checkbox-labels;
        float: none;
        padding: 10px 75px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    input[type=submit] {
      @include buttons($silver, $silver, $form_submit_type_size, $midnight_blue);
      border: none;
      margin: 20px;

      &:active {
        margin: 20px;
      }

      &.ready {
        @include buttons($green_sea, $turquoise, $form_submit_type_size);

        &:active {
          margin: 22px;
        }
      }
    }
  }
}

.new-stat-form-container {
  @extend %containers;
  padding: 75px 0;
  label {
    display: none;
  }
  .avatar-container {
    span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      color: green;
      // display: none;

      &.uploaded {
        // display: inline-block;
      }
    }
    .avatar-label {
      @include buttons($midnight_blue, $wet_asphalt, $button_link_type_size);
    }

    .avatar-input {
      display: none;
    }
  }

  fieldset {
    text-align: center;
    margin-bottom: 50px;
  }

  .float-container {

    &:after {
      @extend %group:after;
    }
  }

  .stat-weight, .client-goal {
    display: block;
    text-align: center;

    input {
      @include inputs(90%);
      text-align: center;
    }
  }

  .left-muscle-container, .left-fat-container {
    width: 50%;
    margin: 30px 0;

    input {
      @include inputs(80%);
    }
  }
  .left-muscle-container {
    float: left;
  }
  .left-fat-container {
   float: left;
    input {
      margin-left: 20%;
    }
  }
  .client-stats-submit {
    text-align: center;
    margin-bottom: 50px;
    input[type=submit] {
      @include buttons($green_sea, $turquoise, $form_submit_type_size);
      width: 60%;
    }
  }
}

.client-stats-show {
  // @extend %containers;
  // padding: 50px 0;
  .client-name {
      font-size: $h1;
      span {
        color: $concrete;
        font-size: 24px;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .img-container {
      display: inline-block;
      vertical-align: top;
    }
    header {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      .client-show-links {
        margin-top: 5px;
        .client-stat-show {
          margin-left: 15px;
        }
        p {
          display: inline-block;
          i {
            text-decoration: underline;
          }
        }
      }
    }
    img {
      border-radius: 10%;
    }
  .client-email {
    // margin-top: 5px;
    color: $asbestos;
  }

  .new-body-comp {
    a {
      color: $green_sea;
      &:hover {
        color: $turquoise;
      }
      &:active {
        color: $green_sea;
      }
      i {
        text-decoration: underline;
      }
    }
  }
  .client-stats-index {
    // margin-top: 50px;
    .client-index-header {
      display: block;
      margin-left: 0;
      h2 {
        font-size: $h2;
        // text-align: center;
        display: inline-block;
      }
      p {
        float: right;
        display: inline-block;
        margin-top: 5px;
      }
    }
    ul {
      max-height: 300px;
      overflow-y: scroll;
      margin-top: 20px;
      li {
        padding: 15px 0;
        span {
          float: right;
          color: #666;
        }
        a {
          font-size: 24px;
        }
      }
    }
  }
  .no-body-comp-container {
    position: relative;
    .no-body-comp-message {
      text-align: center;
      position: absolute;
      margin-top: 15%;
      width: 100%;
      border: 1px solid $clouds;
      background-color: white;
      z-index: 1;
      box-shadow: 3px 2px $silver;
      h3 {
        padding: 25px;
        text-align: center;
        font-style: italic;
        color: $asbestos;
        font-size: 18px;
        .create-new-body-comp-container {
          margin-top: 40px;
          margin-bottom: 20px;
          a {
            @include buttons($green_sea, $turquoise, $button_link_type_size);
            font-style: normal;
          }
        }
      }
    }
  }
  .no-body-comp-img-container {
    opacity: 0.8;
    img {
      width: 100%;
      opacity: 0.75;
    }
  }
}

.client_stat_show_page_container {
  @extend %containers;
  padding: 75px 0;
  .client-stat-show-page-header {
    img {
      display: inline-block;
      border-radius: 10%;
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      font-size: $h1;
      margin-left: 5px;
      a {
        font-size: $h1;
      }
    }
      p {
        font-size: 24px;
        color: $turquoise;
        display: inline-block;
      }
  }
  ul {
    margin-top: 35px;
    li {
      font-size: 24px;
      padding: 25px 0;
      border-bottom: 1px solid $silver;
      span {
        font-weight: bold;
      }
    }
  }
}

