// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Client Index Page
.current-sessions {
  padding-top: 10px;
  padding-left: 20px;
  li {
    padding: 10px 0;
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.current-sessions-count {
  color: $alizarin;
  text-decoration: underline;
  font-size: 20px;
  line-height: 3;
  margin-left: 20px;
  .arrow {
    margin-left: 10px;
  }
}

.client-index-page {

  // @extend %containers;
  padding: 50px 0;

  .client-search-bar {
    text-align: center;

    .search-input {
      @extend %inputs;
      margin-top: 2%;
    }

    .add-client-container {
      display: block;
      margin-top: 20px;
      text-align: left;
      margin-left: 20%;
      a {
        color: $green_sea;
        border-radius: 5px;
        font-size: 24px;
        padding: 15px 5px;
        i {
          text-decoration: underline;
        }

        &:hover {
          color: $turquoise;
        }

        &:active {
          color: $green_sea;
        }
      }
    }
  }
  .client-list {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;

    .ul-client-list {
      .search-results-stats {
        text-align: center;
        color: $silver;
      }
      .client-wrapper {
        border-bottom: 1px solid $clouds;
        padding: 15px;
        padding-bottom: 0;
        .client-buttons {
          display: block;
          padding: 20px;
          padding-left: 0;
          .client-start-workout, .client-strength-account {
            margin-right: 20px;
          }
          a {
            i {
              text-decoration: underline;
            }
          }
        }
      .client {
        font-size: 22px;
        text-align: left;
        margin-top: 30px;
        padding-bottom: 10px;
        .client_name {
           color: $midnight_blue;
           font-size: 20px;
           text-decoration: none;
           &:hover {
            color: $wet_asphalt;
           }
           &:active {
            color: $wet_asphalt;
           }
        }
        .down-icon {
          float: right;
        }

          .client-start-workout {
            margin-right: 5px;
          }

          .client-manage-account {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

//Cllient Show
.client-container {
  padding-top: 50px;
  @extend %containers;
  width: 650px;
  .name-wrap {
    .client-name-show {
      font-size: $h1;
      vertical-align: middle;
      display: inline-block;

    }
    .create-workout {
      display: inline-block;
      vertical-align: middle;
      float: right;
      margin-top: 15px;
      a {
        color: $green_sea;
        i {
          text-decoration: underline;
        }
      }
    }
    .goal-parent {
      color: $midnight_blue;
      font-size: $h3;
      display: block;
      font-weight: bold;


      .current-goal {
        color: $alizarin;
        font-weight: none;
      }
    }
    // .current-goal {
    //   display: inline-block;
    //   vertical-align: middle;
    //   font-size: $h3;
    // }
    .img-container {
      display: inline-block;
      vertical-align: middle;
      width: 15%;
    }
    header {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
      width: 83%;
      .client-show-links {
        .client-show-manage {
          margin-left: 15px;
        }
        p {
          margin-top: 5px;
          display: inline-block;
          i {
            text-decoration: underline;
          }
        }
      }
    }
    img {
      border-radius: 10%;
    }
  }
  .tab-links {
    margin-top: 50px;
    li {
      display: inline-block;
      // margin: 0 10px;
      position: relative;


      a {
        text-decoration: none;
        padding: 20px;
        top: 1px;

        &.active {
          border: 1px solid #ccc;
          border-bottom: 1px solid white;
        }
      }
    }
  }

  .graph-tab-container, .client-note-container, .client-stats-show {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    min-height: 400px;
    max-height: 500px;
  }

  .client-email {
    // margin-top: 5px;
    color: $asbestos;
  }
}

.graph-container {
  h2 {
    font-weight: bold;
  }

  .no-graph {
    text-align: center;
  }

  .no-graph-img-container {
    opacity: 0.6;
    .img {
    }
  }
  .no-graph-note-container {
    position: relative;
    .no-graph-message {
      position: absolute;
      margin-top: 25%;
      width: 100%;
      border: 1px solid $midnight_blue;
      background-color: rgba(255, 255, 255, 1);
      z-index: 1;

      h3 {
        // font-size: $h3;
        padding: 15px;
        text-align: center;
      }
    }
  }
}

.graph-partial {
  form {
    text-align: center;
  }
  p {
    display: inline-block;
    font-size: $h3;
  }
  select {
    color: $midnight_blue;
    background-color: white;
    cursor: default;
    display: inline-block;
    margin: 0 10px;
    font-size: $h3;
  }
  input[type=submit] {
    @extend %buttons;
    width: 25%;
    margin-left: 15px;
  }
}

.client-note-container {
  // margin-top: 50px;
  form {
    text-align: center;
    input[type=text] {
      @extend %inputs;
    }
    input[type=submit] {
      background-color: $green_sea;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      &:hover {
        background-color: $turquoise;
      }
      &:active {
        background-color: $green_sea;
      }
    }
  }
  ul {
    padding: 40px;
    margin-bottom: 50px;
    max-height: 300px;
    overflow-y: scroll;
    li {
      border-bottom: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 10px;
      span {
        float: right;
        font-size: 12px;
        color: #666;
      }
    }
  }
  .no-note-img-container {
    opacity: 0.8;
  }
  .no-notes-note-container {
    position: relative;
    .no-note-message {
      position: absolute;
      margin-top: 25%;
      width: 100%;
      border: 1px solid $midnight_blue;
      background-color: rgba(255, 255, 255, 1);
      z-index: 1;
      h3 {
        padding: 15px;
        text-align: center;
      }
    }
  }
}

// New Client
.new-client-container {
  text-align: center;
  padding-top: 50px;
  h1 {
    font-size: $h1;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    span {
      &.ready {
        color: $green_sea;
      }
    }
  }
  .new-client-form {
    @extend %containers;
    input[type=text], input[type=submit], input[type=email], input[type=date] {
      @extend %inputs;
      padding: 15px;
    }
    input[type=date] {
      -webkit-min-logical-width: 40%;
      width: 40%;
    }
    .birthday-label {
      font-size: 30px;
      vertical-align: middle;
    }
    input[type=radio] {
      @extend %checkboxes;
    }
    .gender-container {
      margin: 0 auto;
      margin: 20px 5px;
      span {
        font-size: 16px;
        font-weight: bold;
      }
      .client-gender {
        @extend %checkbox-labels;
        float: none;
        padding: 10px 75px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    input[type=submit] {
      border-bottom: none;
      background-color: $silver;
      color: $midnight_blue;
      &.ready {
        color: white;
        background-color: $green_sea;

        &:hover {
          background-color: $turquoise;
        }

        &:active {
          background-color: $green_sea;
        }
      }
    }
  }
}

.new-stat-form-container {
  @extend %containers;
  padding: 75px 0;
  label {
    display: none;
  }
  .avatar-container {
    span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      color: green;
      // display: none;

      &.uploaded {
        // display: inline-block;
      }
    }
    .avatar-label {
      display: inline-block;
      padding: 15px 30px;
      font-size: 20px;
      color: white;
      background-color: $midnight_blue;
      border-radius: 5px;
    }
    .avatar-input {
      display: none;
    }
  }
  fieldset {
    text-align: center;
    margin-bottom: 50px;
  }
  .float-container {
    &:after {
      @extend %group:after;
    }
  }

  .stat-weight, .client-goal {
    display: block;
    text-align: center;
    input {
      @extend %inputs;
      text-align: center;
      width: 90%;
    }
  }
  .left-muscle-container, .left-fat-container {
    width: 50%;
    margin: 30px 0;
    // margin: 0 5%;
    input {
      @extend %inputs;
      width: 80%;
      // padding: 10px 0;
      // display: block;
    }
  }
  .left-muscle-container {
    float: left;
  }
  .left-fat-container {
   float: left;
    input {
      margin-left: 20%;
    }
  }
  .client-stats-submit {
    text-align: center;
    margin-bottom: 50px;
    input[type=submit] {
      @extend %buttons;
    }
  }
}

.client-stats-show {
  @extend %containers;
  padding: 50px 0;
  .client-name {
      font-size: $h1;
      span {
        color: $concrete;
        font-size: 24px;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .img-container {
      display: inline-block;
      vertical-align: top;
    }
    header {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      .client-show-links {
        margin-top: 5px;
        .client-stat-show {
          margin-left: 15px;
        }
        p {
          display: inline-block;
          i {
            text-decoration: underline;
          }
        }
      }
    }
    img {
      border-radius: 10%;
    }
  .client-email {
    // margin-top: 5px;
    color: $asbestos;
  }

  .new-body-comp {
    a {
      color: $green_sea;
      &:hover {
        color: $turquoise;
      }
      &:active {
        color: $green_sea;
      }
      i {
        text-decoration: underline;
      }
    }
  }
  .client-stats-index {
    margin-top: 50px;
    .client-index-header {
      display: block;
      margin-left: 0;
      h2 {
        font-size: $h2;
        // text-align: center;
        display: inline-block;
      }
      p {
        float: right;
        display: inline-block;
        margin-top: 5px;
      }
    }
    ul {
      max-height: 300px;
      overflow-y: scroll;
      margin-top: 20px;
      li {
        padding: 15px 0;
        span {
          float: right;
          color: #666;
        }
        a {
          font-size: 24px;
        }
      }
    }
  }
}

.client_stat_show_page_container {
  @extend %containers;
  padding: 75px 0;
  .client-stat-show-page-header {
    img {
      display: inline-block;
      border-radius: 10%;
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      font-size: $h1;
      margin-left: 5px;
      a {
        font-size: $h1;
      }
    }
      p {
        font-size: 24px;
        color: $turquoise;
        display: inline-block;
      }
  }
  ul {
    margin-top: 35px;
    li {
      font-size: 24px;
      padding: 25px 0;
      border-bottom: 1px solid $silver;
      span {
        font-weight: bold;
      }
    }
  }
}

