// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'dry';

// Sign Up Page
.sign-up-page {
  @extend %container;

  .sign-up-form {
    @extend %form;
  }

  .sign-up-header {
    @extend %header-text-style;
    margin-bottom: 25px;
  }

  .sign-up-labels {
    @extend %labels;
  }

  .sign-up-inputs {
    @extend %inputs;
  }

  .sign-up-button {
    @extend %buttons;
  }
}

// Sign In Page
.sign-in-page {
  @extend %container;

  .sign-in-header-span {
   color: $orange;
  }

  .sign-in-form {
    @extend %form;

    .sign-in-header {
      @extend %header-text-style;
    }

    .sign-in-labels {
      @extend %labels;
    }

    .sign-in-inputs {
      @extend %inputs;
      color: $orange;
    }

    .sign-in-help {
      font-size: 14px;
      max-width: 65%;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 20px;
    }

    .sign-in-button {
      @extend %buttons;
    }

    // .sign-up-link {
    //     font-size: 16px;
    //     padding-top: 30px;
    //   }
  }
}

// Gym Edit Form
.gym-edit-page {
  @extend %container;

  .gym-edit-form {
    @extend %form;

    .gym-edit-header {
      @extend %header-text-style;
    }

    .gym-edit-labels {
      @extend %labels;
    }

    .gym-edit-inputs {
      @extend %inputs;
    }

    .gym-edit-button {
      @extend %buttons;
    }

    .gym-delete-button {
      @extend %buttons;
      background-color: $red;

      &:hover {
        background-color: lighten($red, 5%);
      }
    }
  }
}

// Password Reset Request Page
.password-reset-request-page {
  @extend %container;

  .password-reset-request-form {
    @extend %form;
  }

  .password-reset-request-header {
    @extend %header-text-style;
    margin-bottom: 25px;
  }

  .password-reset-request-labels {
    @extend %labels;
  }

  .password-reset-request-inputs {
    @extend %inputs;
  }

  .password-reset-request-button {
    @extend %buttons;
  }
}

// Password Reset Page
.password-reset-page {
  @extend %container;

  .password-reset-form {
    @extend %form;
  }

  .password-reset-header {
    @extend %header-text-style;
    margin-bottom: 25px;
  }

  .password-reset-labels {
    @extend %labels;
  }

  .password-reset-inputs {
    @extend %inputs;
  }

  .password-reset-button {
    @extend %buttons;
  }
}
