// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Sign Up Page
.sign-up-page {

  .sign-up-form {
    @extend %forms;
  }

  .sign-up-header {
    @extend %header-text-styles;
  }

  .sign-up-labels {
    @extend %labels;
  }

  .sign-up-inputs {
    @extend %inputs;
  }

  .sign-up-button {
    @extend %buttons;
  }
}

// Sign In Page
.sign-in-page {
  // @extend %containers;

  .sign-in-form {
    @extend %forms;

    .sign-in-labels {
      @extend %labels;
    }

    .sign-in-inputs {
      @extend %inputs;
    }

    .sign-in-help {
      font-size: 18px;
      // max-width: 65%;
      text-align: center;
      // margin-left: 20%;
      margin-top: 20px;
      margin-bottom: 20px;

      .remember-me-checkbox {
        @extend %checkboxes;

        &:checked + label {
          background-color: $wet_asphalt;
          border: 1px solid white;
          color: white;
        }
      }

      .remember-me-label {
        font-size: 20px;
        border: 1px dashed $wet_asphalt;
        padding: 5px;
        border-radius: 5px;
        color: $midnight_blue;
      }
    }

    .sign-in-button-inactive {
      @extend %buttons;
      margin: 20px;
      background-color: $concrete;
      color: $midnight_blue;
      border: none;

      &:hover {
       background-color: $concrete;
      }

      &:active {
        background-color: $concrete;
      }
    }

    .sign-in-button-active {
      @extend %buttons;
      margin: 20px;
      // background-color: $concrete;
    }
  }
}

// Gym Edit Form
.gym-edit-page {
  @extend %containers;

  .gym-edit-form {
    @extend %forms;

    .gym-edit-header {
      @extend %header-text-styles;
    }

    .gym-edit-labels {
      @extend %labels;
    }

    .gym-edit-inputs {
      @extend %inputs;
    }

    .gym-edit-button {
      @extend %buttons;
    }

    .gym-delete-button {
      @extend %buttons;
      background-color: $red;

      &:hover {
        background-color: lighten($red, 5%);
      }
    }
  }
}

// Password Reset Request Page
.password-reset-request-page {
  @extend %containers;

  .password-reset-request-form {
    @extend %forms;
  }

  .password-reset-request-header {
    @extend %header-text-styles;
  }

  .password-reset-request-labels {
    @extend %labels;
  }

  .password-reset-request-inputs {
    @extend %inputs;
  }

  .password-reset-request-button {
    @extend %buttons;
  }
}

// Password Reset Page
.password-reset-page {
  @extend %containers;

  .password-reset-form {
    @extend %forms;
  }

  .password-reset-header {
    @extend %header-text-styles;
  }

  .password-reset-labels {
    @extend %labels;
  }

  .password-reset-inputs {
    @extend %inputs;
  }

  .password-reset-button {
    @extend %buttons;
  }
}
