// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Exercise Form
.exercise-label {
  @extend %labels;
}

.exercise-input {
  @extend %inputs;
  width: 100%;
}

.exercise-option {
  display: inline-block;
  padding: 20px;
}

// New Exercise Page
.new-exercise-page {
  @extend %containers;
  text-align: center;

  .new-exercise-form {
    form {
      background-color: white;
      border-radius: 5px;
      border: 1px solid $silver;

    }
    .setting, .exercise{
      label {
        @extend %checkbox-labels;
        width: 100%;
      }
      input[type=checkbox] {
        @extend %checkboxes;
      }
    }
    .exercise-option {
      display: inline-block;
      vertical-align: top;
    }
    h3 {
      margin-top: 60px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
      span {
        &.ready {
          color: lighten($wet_asphalt, 10%);
        }
      }
    }
  }
  .category {
    h3 {
      display: inline-block;
      margin-right: 10px;
      margin: 15px 0;
    }
  }
  .new-exercise-header {
    @extend %header-text-styles;
    padding-top: 70px;
    span {
      &.ready {
        color: lighten($wet_asphalt, 10%);
      }
    }
  }
  .exercise-form-button {
    @extend %buttons;
    border-bottom: none;
    background-color: $silver;
    color: $midnight_blue;
    margin-bottom: 50px;
    &:hover {
      background-color: $silver;
    }
    &.ready {
      @extend %buttons;
      border-bottom: none;
      background-color: $green_sea;
      &:hover {
        background-color: $turquoise;
      }
      &:active {
        background-color: $turquoise;
      }
    }
  }
  .back-to-new-session {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    a {
      // color: $pomegranate;
    }
  }
}
