// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'dry';

// Exercise Form
.exercise-label {
  @extend %labels;
}

.exercise-input {
  @extend %inputs;
}

.exercise-option {
  display: block;
  width: 65%;
  margin-left: 20%;
  margin-left: 20%;
  margin-top: 20px;
  padding: 5px;

}

.exercise-form-button {
  @extend %buttons;
}

// New Exercise Page
.new-exercise-page {
  @extend %container;

  .new-exercise-form {
    @extend %form;
  }

  .new-exercise-header {
    @extend %header-text-style;
    margin-bottom: 25px;
  }
}
