* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }

nav {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  // position: fixed;
  // background-color: white;
  a {
    padding: 10px;
    font-size: 30px;
  }

  .nav-home {

  }

  .nav-sign-out {

  }
}
