// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Session Form
.session-form {
  @extend %forms;
  margin-top: 0px;

  input {
    @extend %inputs;
    width: 100%;
  }

  .session-form-labels {
    @extend %labels;
  }

  .session-form-inputs {
    @extend %inputs;
  }

  .session-form-routine-select-dropdown {
    // @extend %inputs;
    font-size: $text-input-size;
    margin-right: 5%;
    border-bottom: none;
  }

  .session-form-exercise-selection-header {
    font-size: $h2;
    text-align: left;
    margin-left: 20%;
    padding-top: 25px;
    font-weight: bold;
  }

  .session-form-checkbox {
    @extend %checkboxes;
  }

  .session-form-checkbox-labels {
    @extend %checkbox-labels;
  }

  .session-form-submit-button {
    @extend %buttons;
  }
}

// New Session
.new-session-page {
  @extend %containers;
}

.new-session-header {
  @extend %header-text-styles;
  text-align: center;
  padding-top: 50px;
}

// Show Session Page
.workout-session-page {

  .workout-session-client-info {
    padding: 15px;
    height: 58px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    background-color: white;
    // z-index: -1;


    .client-session-title {
      font-size: $h1;
      text-align: left;

      .session-client-name {
        // margin-left: 50px;
      }

      .client-session-date {
        float: right;
        font-style: italic;
        font-size: 30px;
        color: $orange;
      }
    }
  }

  .workout-session-exercise-list {
    width: 30%;
    float: left;
    margin-top: 58px;

    .session-exercise {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: left;

      &.onclick {
        border-right: 0px;
        border-left: 10px solid $orange;

        .session-exercise-link {
          color: $orange;
        }
      }

      .session-exercise-link {
        display: block;
        text-decoration: none;
        font-size: 22px;
        padding: $height/2.75;
        width: 100%;
        color: black;
      }
    }
  }

  .workout-session-execution-data {
    width: 70%;
    float: left;
    position: fixed;
    top: 15%;
    right: 0;

    .workout-session-execution-form {
      width: 70%;
      margin: 0 auto;
      border: 1px solid #ccc;
      padding: 30px;
      border-radius: 5px;

      .previous-stats {
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
        .previous-stats-number {
          color: $orange;
        }
      }

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }
  }
}

// Workout Session Execution Form
.session-exercise-execution-form {

  .field-container {

    &:after {
      @extend %group:after;
    }
  }

  .exercise-execution-setting-container {

    &:after {
      @extend %group:after;
    }
  }

  .field {
    float: left;
    width: 50%;
  }

  .exercise-execution-setting {
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .field {
    text-align: center;
    padding-top: 35px;

    .exercise-execution-performance-text[type=number] {
      height: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      color: black;
      font-size: 25px;
      outline-width: 0;
      text-align: center;
      border-radius: 0;
      width: 75%;
    }

    .exercise-execution-performance-text[type=text] {
      height: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      color: black;
      font-size: 25px;
      outline-width: 0;
      text-align: center;
      border-radius: 0;
      width: 75%;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .stop-watch-container {

    .session-stop-watch {
      display: block;
      // margin-bottom: 5px;
      font-size: 40px;
    }

    .start-session-stop-watch, .stop-session-stop-watch, .reset-session-stop-watch {
      @extend %buttons;
      margin-top: 10px;
      text-decoration: none;
      display: inline-block;
      width: 40%;
      margin-right: 10px;
      padding: 15px;
      font-size: 20px;
    }

    .start-session-stop-watch {
      background-color: $green;
      &:hover {
        background-color: lighten($green, 5%);
      }
    }

    // Stop Watch
    .stop-session-stop-watch {
      background-color: $red;
      &:hover {
        background-color: lighten($red, 5%);
      }
    }

    .reset-session-stop-watch {
      background-color: $grey;

      &:hover {
        background-color: lighten(#222222, 5%);
      }
    }
  }
}

 //Settings
.workout-session-setting-form {
  width: 75%;
  margin: 75px auto 0;
  border-radius: 5px;
  // border: 1px solid black;


.workout-session-settings-header {
  font-size: 22px;
  font-weight: bold;
}
  ul {
    li {
      padding: 10px;
      display: inline-block;
      label {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

