// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global_tags";
@import 'dry';

// Workout Session Page
.workout-session-page {

  .workout-session-client-info {
    padding: 15px;
    height: 58px;
    border-bottom: 1px solid black;

    .client-session-title {
      font-size: $h1;
      text-align: left;

      .client-session-date {
        float: right;
        font-style: italic;
        font-size: 30px;
        color: $orange;
      }
    }
  }

  .workout-session-exercise-list {
    width: 30%;
    float: left;

    .session-exercise {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: left;

      &.onclick {
        border-right: 0px;
        border-left: 10px solid $orange;

        .session-exercise-link {
          color: $orange;
        }
      }

      .session-exercise-link {
        display: block;
        text-decoration: none;
        font-size: 22px;
        padding: $height/2.75;
        width: 100%;
        color: black;
      }
    }
  }

  .workout-session-execution-data {
    width: 70%;
    float: left;

    .workout-session-execution-form {
      width: 70%;
      margin: 0 auto;

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }
  }
}

// Workout Session Execution Form
.session-exercise-execution-form {
  .field-container {
    &:after {
      @extend %group:after;
    }
  }

  .exercise-execution-setting-container {
    &:after {
      @extend %group:after;
    }
  }

  .field {
    float: left;
    width: 50%;
  }

  .exercise-execution-setting {
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .field {
    text-align: center;
    padding-top: 35px;
    .exercise-execution-setting-text[type=text] {
      height: 30px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $orange;
      color: black;
      font-size: 18px;
      outline-width: 0;
      text-align: center;
      border-radius: 0;
      width: 65%;
    }

    .exercise-execution-performance-text[type=text] {
      height: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      color: black;
      font-size: 25px;
      outline-width: 0;
      text-align: center;
      border-radius: 0;
      width: 75%;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .stop-watch-continer {
    .session-stop-watch {
      display: block;
      // margin-bottom: 5px;
      font-size: 40px;
    }

    .start-session-stop-watch, .stop-session-stop-watch, .reset-session-stop-watch {
      @extend %buttons;
      margin-top: 10px;
      text-decoration: none;
      display: inline-block;
      width: 40%;
      margin-right: 10px;
      padding: 15px;
      font-size: 20px;
    }
    .start-session-stop-watch {
      background-color: lighten(#5da423, 10%);
      &:hover {
        background-color: lighten(#5da423, 5%);
      }
    }
    .stop-session-stop-watch {
      background-color: lighten(#c60f13, 10%);
      &:hover {
        background-color: lighten(#c60f13, 5%);
      }
    }
    .reset-session-stop-watch {
      background-color: #222222;
      &:hover {
        background-color: lighten(#222222, 5%);
      }
    }
  }
  .actions {
    text-align: center;
    margin-top: 25%;
    .exercise-execution-save-button {
      @extend %buttons;
      background-color: $orange;
      width: 80%;
      font-size: 25px;
      &:hover {
        background-color: darken($orange, 10%);
      }
    }
    .save-exercise-execution-alert {
      font-size: 30px;
      color: $orange;

      .session-exercise-saved-thumbs-up {
        color: $orange;
      }
    }
  }
}
