// $('.ajax-session-saved-alert').remove();
// $('.workout-session-execution-form').prepend("<p class='ajax-session-saved-alert'>Exercise saved.</p>");

$('.workout-session-execution-form input[type=text]').focusout(function(){
  $('.session-exercise-execution-form').submit();
});




