$('.workout-session-execution-form input').focusout(function(){
  $('.session-exercise-execution-form').submit();
});

$('.workout-session-execution-form select').on("change", function() {
  $('.session-exercise-execution-form').submit();
});

$('.session-saved').remove();
$("<p class='session-saved'> Saved. </p>").hide().prependTo('.workout-session-execution-form').fadeIn("fast", function(){
  $(this).delay(500).fadeOut("slow");
});

// $(".<%= @exercise.name.downcase.tr(" ", "_") %>").append(<%= @session.exercise_executions.count %>);
