<div class='new-exercise-page'>
  <div class="new-exercise-form">
    <h1 class='new-exercise-header'>Create New Exercise</h1>
    <h3>Click the  fields that are associated with the new exercise.</h3>

    <%= render 'form' %>

    <%= link_to 'Back', exercises_path %>
  </div>
</div>
