<div class='new-exercise-page'>
  <div class="new-exercise-form">
    <h1 class='new-exercise-header'>Create <span>a new exercise</span> for <%= current_gym.location.capitalize %></h1>

    <%= render 'form' %>
    <div class='back-to-new-session'>
      <%= link_to "Back to setting up for #{@client.name}", :back %>
    </div>
  </div>
</div>
